body {
    font-family: Helvetica-light;
    text-align: center;
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
}

.header {
    color: white;
    background-color: slategrey;
    opacity: 0.7;
    padding: 20px;
    margin: 43px 0 20px;
}

.header p {
    font-size: 20px;
    margin-bottom: 0;
}

#overlay {
    height: 480px;
    width: 100%;
    position: absolute;
    background-color: white;
    border: black;
    opacity: 0.8;
    font-size: 240px;
    padding: 100px 0;
    display: none;
}

.footer {
    color: white;
    background-color: slategrey;
    opacity: 0.7;
}

.footer img {
    height: 120px;
}

.rocording-block {
    height: 80px;
    padding: 10px;
}

#recording {
    font-size: 60px;
    display: none;
}

.video {
    width: 640px;
    height: 480px;
}

.record-button {
    font-size: 40px;
    background-color: red;
}